.brand-heading {
  font-family: 'Syne';
  text-align: left;
}

.purinalogo {
  max-width: 233px;
}

p {
  font-family: 'Syne';
  font-size: 18px;
}

.masthead {
  padding: 80px 0;
}

.masthead .intro-body .brand-heading {
  font-size: 80px;
  line-height: 70px;
}

@media (min-width: 300px) {
  .masthead .intro-body .brand-heading {
    font-size: 38px;
    line-height: 31px;
  }
}

@media (min-width: 992px) {
  .masthead .intro-body .brand-heading {
    font-size: 58px;
    line-height: 47px;
  }
}

@media (min-width: 1200px) {
  .masthead .intro-body .brand-heading {
    font-size: 75px;
    line-height: 58px;
  }
}

@media (min-width: 1400px) {
  .masthead .intro-body .brand-heading {
    font-size: 80px;
    line-height: 60px;
  }
}

@media (max-width: 766px) {
  .brand-heading {
    line-height: 44px;
  }
}

h2 {
  font-family: 'Syne';
}

.content-section {
  padding-top: 50px;
  padding-bottom: 50px;
}

h1, h2, h3, h4, p {
  color: #bfbebf;
}

@media (max-width: 300px) {
  .intro-body.herosection {
    width: 93px;
  }
}

@media (max-width: 300px) {
  .herorow {
    /*width: 352px;*/
    flex-direction: column-reverse !important;
  }
}

@media (min-width: 300px) {
  .productimg {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .masthead {
    display: table;
    width: 100%;
    height: auto;
    padding: 97px 0;
    text-align: center;
    color: #fff;
    /*background-color: #000;*/
    background-size: cover;
  }
}

@media (max-width: 300px) {
  .herorow {
  }
}

@media (max-width: 576px) {
  .flex-sm-column-reverse {
    flex-direction: column-reverse !important;
  }
}

@media (min-width: 768px) {
  .masthead .intro-body .intro-text {
    font-size: 18px;
    line-height: 1.5em;
  }
}

.nutritionimg {
  width: 100%;
}

@media (min-width: 768px) {
  .dude {
    width: 590px;
    margin-left: -212px;
  }
}

@media (max-width: 350px) {
  .dude {
    width: 90px;
    margin-left: -212px;
  }
}

@media (max-width: 577px) {
  .dude {
    max-width: 400px;
    margin-left: -102px;
  }
}

.dude {
  max-width: 480px;
  margin-left: -102px;
}

.dudedog {
  width: 590px;
}

@media (min-width: 500px) {
  .dudedog {
    width: 100%;
  }
}

@media (max-width: 300px) {
  .dudedog {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .masthead {
    height: 90%;
    padding: 0;
  }
}

@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1800px;
  }
}

.brand-heading {
}

@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1300px;
  }
}

.tiktok-btn {
  color: rgb(180, 87, 49);
  border: 1px solid rgb(180, 87, 49);;
  background-color: transparent;
}
.tiktok-btn:hover{
  border: 1px solid rgb(180, 87, 49);;
  background-color: rgb(180, 87, 49);  
}